div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 60px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    .img{
        width: 50px;
        margin-right: 20px;
    }
    .name{
        width: 150px;
        color: rgb(31, 90, 90);
        font-size: 20px;
        font-weight: 600;
        text-align: left;
        
    }
    .market{
        text-align: left;
        width: 120px;
        font-size: 16px;
        color: rgb(16, 82, 82);
        font-weight: 500;
    }
    .price{
        text-align: left;
        width: 140px;
        font-size: 16px;
        color: rgb(16, 82, 82);
        font-weight: 500;
    }
    .change{
        text-align: left;
        width: 100px;
        font-weight: 500;
    }
}